/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root{
    --succee-color : #198754;
    --fail-color :#ec2d2d;
}

.success-snackbar{
    color: white;
    --mdc-snackbar-container-color:var(--succee-color);
}
.failure-snackbar{
    color: white;
    --mdc-snackbar-container-color:var(--fail-color);
}